.game-object {
    width: 100%;
    background-repeat: no-repeat;
  }
  
  .game-object::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.mask-default {
  background-size: 3200%;
  background-position: 16.5% 88%;
}

.sanitizer-default {
  background-size: 3200%;
  background-position: 31.7% 88%;
}

.virus-default {
  background-size: 2400%;
  background-position: 9.2% 92%;
}

.person-default--male,
.person-moving--male {
  background-size: 2000%;
  background-position: 86.1% 97%;
}

.person-default--female,
.person-moving--female {
  background-size: 2000%;
  background-position: 92.1% 97%;
}

.person-right {
  transform: scaleX(-1);
}


.virus-default {
  background-size: 2400%;
  background-position: 9.2% 97%;
  transition: left 0.5s linear 0s, top 0.5s linear 0s;
  will-change: transform;
  animation-name: virusMoving;
  animation-duration: 1s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
}

.virus-moving {
  background-size: 2400%;
  background-position: 9.2% 97%;
  animation-name: virusMoving;
  animation-duration: 1s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
}
@keyframes virusMoving {
  0% {
    background-position: 9.2% 97%;
  }

  to {
    background-position: -5.1% 97%;
  }
}