.task-wrapper {
  background-color: #fff;
  box-shadow: 1px 2px 12px 1px rgba(0,0,0,0.75);
  color: #000;
  min-width: 300px;
  min-height: 150px;
}

.task-header {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;

  i {
    font-size: 1.25em;
    padding: 10px;
    cursor: pointer;
    color: #000;
  }
}

.task-description {
  padding: 2em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  .description-text {
    max-width: 100%;
    max-height: 65vh;
  }
}