.stepper-container {
    background-color: #353f42;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
    width: 90%;
    margin: 0 auto;
    min-height: 110px;

    .stepper-step {
        width: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: stretch;
        height: 80px;

        .step-icon {
            width: 44px;
            height: 44px;
            border-radius: 22px;
            background-color: #242b2d;
            color: #9da7aa;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            cursor: pointer;
    
            &.step-icon-active {
                background-color: #d8422d;
                color: #fff;
            }
        } 

        .step-name {
            text-align: center;
            color: #fff;
            cursor: pointer;
        }
    }

    .step-divider-wrapper {
        position: relative;
        width: 45px;

        .step-divider {
            width: 45px;
            border-bottom: 1px solid #9da7aa;
            position: absolute;
            top: 20%;
        }
    }   
}

.stepper-content {
    background-color: #242b2d;
    color: #fff;
    padding: 10px 20px;
    width: 90%;
    min-height: 500px;
    margin: 0 auto;
    margin-bottom: 4em;
}



  @media(max-width: 768px) {
    .step-divider-wrapper {
        display: none;
    }
  }