.image-wrapper {
  display: block;
  margin: 0.5rem auto;
  width: 25rem;
  text-align: center;
}

.pandemic_happy-player {
  display: inline-block;
  width: 50%;
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-size: 1800%;
  background-position: 23.4% 18%;
}

.pandemic_sad-player {
  display: inline-block;
  width: 50%;
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-size: 1400%;
  background-position: 31% 18%;
}

.statistics {
  margin: 0 auto;
}

.statistics-item-header {
  padding: 0.3rem;
  text-align: left;
}