<div class="image-wrapper">
  <div
    [class]="statistics.levelPassed
      ? (sceneType | lowercase) + '_happy-player'
      : (sceneType | lowercase) + '_sad-player'"
    [ngStyle]="{ backgroundImage: 'url(' + assetsPath + '/images/who.svg' +')'}"
  >
  </div>
</div>

<table class="statistics">
  <tr *ngFor="let statisticsItem of statisticsItemsList">
    <th class="statistics-item-header">{{ prefixPath + statisticsItem.name | translate }}:</th>
    <td class="statistics-item-data">{{ statisticsItem.value | translate }}</td>
  </tr>
</table>