.game-object {
  width: 100%;
  background-repeat: no-repeat;
}

.game-object::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cookie-default {
  background-size: 900%;
  background-position: 70.5% 32%;
}

.monster-default {
  background-size: 750%;
  background-position: 98% 31%;
  will-change: transform;
}

.monster-moving {
  background-size: 750%;
  background-position: 98% 31%;
  will-change: transform;
}

.monster-chasing {
  background-size: 750%;
  background-position: 84.4% 31.4%;
  will-change: transform;
}

.mine-default {
  background-size: 650%;
  background-position: -0.5% 1%;
}

.mine-activated {
  background-size: 650%;
  background-position: 19.5% 1%;
}

.mine-fires {
  background-size: 650%;
  background-position: 38.5% 1%;
}

.turret-default { // TODO: change after receiving design
  background-size: 550%;
  background-position: 58% -6%;
  transition: transform 0.5s linear 0s;
}

.turret-activated { // TODO: change after receiving design
  background-size: 530%;
  background-position: 77.7% -9%;
  transition: transform 0.5s linear 0s;

  &--up {
    @extend .turret-activated;
    transform: rotate(-90deg);
  }
  &--up-right {
    @extend .turret-activated;
    transform: rotate(-45deg);
  }
  &--down-right {
    @extend .turret-activated;
    transform: rotate(45deg);
  }
  &--down {
    @extend .turret-activated;
    transform: rotate(90deg);
  }
  &--down-left {
    @extend .turret-activated;
    transform: rotate(135deg);
  }
  &--left {
    @extend .turret-activated;
    transform: rotate(180deg);
  }
  &--up-left {
    @extend .turret-activated;
    transform: rotate(-135deg);
  }
  &--right {
    @extend .turret-activated;
    transform: rotate(0deg);
  }
}

.turret-recharge { // TODO: change after receiving design
  background-size: 530%;
  background-position: 77.7% -9%;
  transition: transform 0.5s linear 0s;

  &--up {
    @extend .turret-activated;
    transform: rotate(-90deg);
  }
  &--up-right {
    @extend .turret-activated;
    transform: rotate(-45deg);
  }
  &--down-right {
    @extend .turret-activated;
    transform: rotate(45deg);
  }
  &--down {
    @extend .turret-activated;
    transform: rotate(90deg);
  }
  &--down-left {
    @extend .turret-activated;
    transform: rotate(135deg);
  }
  &--left {
    @extend .turret-activated;
    transform: rotate(180deg);
  }
  &--up-left {
    @extend .turret-activated;
    transform: rotate(-135deg);
  }
  &--right {
    @extend .turret-activated;
    transform: rotate(0deg);
  }
}

.turret-fires { // TODO: change after receiving design
  background-size: 620%;
  background-position: 97% -3%;
  transition: transform 0.5s linear 0s;

  &--up {
    @extend .turret-fires;
    transform: rotate(-90deg);
  }
  &--up-right {
    @extend .turret-fires;
    transform: rotate(-45deg);
  }
  &--down-right {
    @extend .turret-fires;
    transform: rotate(45deg);
  }
  &--down {
    @extend .turret-fires;
    transform: rotate(90deg);
  }
  &--down-left {
    @extend .turret-fires;
    transform: rotate(135deg);
  }
  &--left {
    @extend .turret-fires;
    transform: rotate(180deg);
  }
  &--up-left {
    @extend .turret-fires;
    transform: rotate(-135deg);
  }
  &--right {
    @extend .turret-fires;
    transform: rotate(0deg);
  }
}


.key-default { // TODO: change after receiving design
  background-size: 620%;

  &--red {
    @extend .key-default;
    background-position: 37% 31%;
  }
  &--green {
    @extend .key-default;
    background-position: 18.5% 31%;
  }
  &--yellow {
    @extend .key-default;
    background-position: 0% 31%;
  }
  &--blue {
    @extend .key-default;
    background-position: 56% 31%;
  }
}

.gates-default { // TODO: change after receiving design
  background-size: 660%;

  &--red {
    @extend .gates-default;
    background-position: 37.4% 62.5%;
  }
  &--green {
    @extend .gates-default;
    background-position: 20% 62.5%;
  }
  &--yellow {
    @extend .gates-default;
    background-position: 1.4% 62.5%;
  }
  &--blue {
    @extend .gates-default;
    background-position: 54.4% 62.5%;
  }
}

.gates-open { // TODO: change after receiving design
  background-size: 660%;

  @at-root #{&}--red {
    @extend .gates-open;
    background-position: 37.4% 96.8%;
  }
  @at-root #{&}--green {
    @extend .gates-open;
    background-position: 19.4% 96.8%;
  }
  @at-root #{&}--yellow {
    @extend .gates-open;
    background-position: 1.2% 96.8%;
  }
  @at-root #{&}--blue {
    @extend .gates-open;
    background-position: 55% 96.8%;
  }
}
