<article
  *ngIf="sceneType; else spinner"
  class="tile-scene"
  [kiddoGameFieldMaxWidth]="gameField"
>

  <kiddo-pademic-inventory
    [inventory]="playerInventory"
    [compulsoryItems]="compulsoryItems"
  >
  </kiddo-pademic-inventory>

  <kiddo-pandemic-game-field
    [field]="gameField"
    [customTiles]="customTiles"
    [playerPosition]="player?.position"
    [sceneIsLabyrinth]="terraIncognita"
  >
    <kiddo-pandemic-game-objects
      [gameObjects]="gameObjects"
      [itemSize]="gameField | pandemicGameFieldCellSize">
    </kiddo-pandemic-game-objects>

    <kiddo-pandemic-player class="tile-scene__player"
      [player]="player" 
      [ngStyle]="{
        left: player.position.x | coordinateInPercents: (gameField | pandemicGameFieldCellSize).width,
        top: player.position.y | coordinateInPercents: (gameField | pandemicGameFieldCellSize).height,
        width: (gameField | pandemicGameFieldCellSize).width + '%'
      }">
    </kiddo-pandemic-player>
  </kiddo-pandemic-game-field>

</article>

<ng-template #spinner>
  <kiddo-loading-spinner></kiddo-loading-spinner>
</ng-template>