.tile-scene__player {
  position: absolute;
  transition-property: left, top;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
  will-change: transform;
  z-index: 99;
}
