.kiddo-snackbar {
  visibility: hidden;
  min-width: 250px;
  position: fixed;
  z-index: 99999;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, -50%);

  &.kiddo-snackbar--visible {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
  }
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}