.inventory {
  display: flex;
  width: 90%;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
}

.inventory::after {
  content: '';
  display: block;
  padding-bottom: 10%;
}

.inventory__items-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.inventory__compulsory-items {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.inventory__item {
  width: 20%;
}

.mask {
  background-repeat: no-repeat;
  background-size: 3200%;
  background-position: 16.5% 88%;
}

.mask-unpicked {
  background-repeat: no-repeat;
  background-size: 3200%;
  background-position: 24% 88%;
}

.sanitizer {
  background-repeat: no-repeat;
  background-size: 3200%;
  background-position: 31.4% 88%;
}

.sanitizer-unpicked {
  background-repeat: no-repeat;
  background-size: 3200%;
  background-position: 38.6% 88%;
}
