<!-- <section class="game-field">
  
  <ng-template [ngIf]="sceneType === SceneType.RACCOON">
    <kiddo-raccoon-tile-row *ngFor="let row of field; index as i" [row]="row" [playerPosition]="playerPosition" [rowIndex]="i" [sceneIsLabyrinth]="sceneIsLabyrinth"></kiddo-raccoon-tile-row>
  </ng-template>

  <ng-template [ngIf]="sceneType === SceneType.PANDEMIC">
    <kiddo-pandemic-tile-row *ngFor="let row of field" [row]="row"></kiddo-pandemic-tile-row>
  </ng-template>

  <ng-content></ng-content>
</section> -->