<div class="image-wrapper">
  <div
    [class]="statistics.levelPassed
      ? (sceneType | lowercase) + '_happy-player'
      : (sceneType | lowercase) + '_sad-player'"
    [ngStyle]="{ backgroundImage: 'url(' + assetsPath + '/images/KidsEdu.svg' +')'}"
  >
  </div>
</div>

<div class="statistics">
    <div *ngFor="let statisticsItem of statisticsItemsList" class="statistics-line">
      <div class="table-cell statistics-item-header">{{ prefixPath + statisticsItem.name | translate }}:</div>
      <div class="table-cell statistics-item-data">{{ statisticsItem.value | translate }}</div>
    </div>
</div>