<div class="scenetype-form-wrapper">
    <h1>{{'TASK_EDITOR.SCENE_TYPE.TITLE' | translate}}</h1>
    <p>{{'TASK_EDITOR.SCENE_TYPE.MESSAGE' | translate}}</p>
    <form [formGroup]="sceneTypeForm" (submit)="sceneType !== sceneTypeForm.value.sceneType && sceneType? confirmChanging.open() : onSubmit(sceneTypeForm.value)" class="scenetype-form">
        <div class="form-element"><label for="raccoon"><input formControlName="sceneType" id="raccoon" type="radio" value="raccoon"> {{'TASK_EDITOR.SCENE_TYPE.RACCOON' | translate}}</label></div>
        <div class="form-element"><label for="console"><input formControlName="sceneType" id="console" type="radio" value="console"> {{'TASK_EDITOR.SCENE_TYPE.CONSOLE' | translate}}</label></div>
        <div class="form-element"><label for="console"><input formControlName="sceneType" id="console" type="radio" value="pandemic"> {{'TASK_EDITOR.SCENE_TYPE.PANDEMIC' | translate}}</label></div>
        <button [disabled]="!sceneTypeForm.valid" class="button purple form-element" type="submit">{{'TASK_EDITOR.NEXT' | translate}}</button>
    </form>
    <div *ngIf="sceneType !== sceneTypeForm.value.sceneType && sceneType">{{'TASK_EDITOR.SCENE_TYPE.CHANGING' | translate}}</div>
    
    <div kiddoModal #confirmChanging="kiddoModal">
        <kiddo-modal-message (acceptClick)="confirmChanging.close(); onSubmit(sceneTypeForm.value)"
                             (cancelClick)="confirmChanging.close()"
                             [warning]="true"
                            >
            <div class="warning-modal-header">{{'TASK_EDITOR.SCENE_TYPE.WARNING' | translate}}</div>
            {{'TASK_EDITOR.SCENE_TYPE.CHANGING_MODAL' | translate}}
        </kiddo-modal-message>
    </div>
</div>
