.scene-wrapper {
  height: 100%;
  background-color: #363636;
}

.popup__header {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.6em;
  text-align: center;
  font-weight: bold;
}

.popup__statistics {
  padding: 1rem;
  margin: 0;
  font-size: 1.1em;
}